.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 60;
  transition: all 0.6s;
  background-color: #0000004d;
  isolation: isolate;

  @include hover {
    background-color: $black;
  }

  &.burger-active {
    & .header__link-request {
      opacity: 0;
      visibility: hidden;
    }
    & .header__logo-link svg {
      color: $white !important;
    }
  }

  &.white {
    background-color: transparent;

    & .header__link svg {
      color: $black;
    }

    & .header__logo-link svg {
      color: $black;
    }

    & .line {
      stroke: $black;
    }

    @include hover {
      background-color: transparent;
    }
  }

  &__top {
    position: relative;
    z-index: 101;
  }

  &__inner {
    justify-content: space-between;
    padding: 16px 0;
    position: relative;
    z-index: 10;
  }

  &__logo {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-link {
      display: block;
      width: 100%;
      height: 100%;

      & svg {
        color: $white;
        transition: all 0.3s;
      }
    }
  }

  &__link {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.4s;
    padding: 8px;

    & svg {
      color: $white;
      transition: all 0.4s;
    }

    @include hover {
      opacity: 0.5;
    }

    &-burger {
      padding: 6px;
      &.active {
        background-color: $black;
      }
    }
  }

  &__menu {
    position: absolute;
    transform: translateY(-200%);
    width: 100%;
    padding: 20px 0 40px 0;
    background-color: $white;
    border-bottom-right-radius: 52px;
    border-bottom-left-radius: 52px;
    transition: all 0.4s;

    @media (max-width: $bp2) {
      display: none;
    }

    &.active {
      transform: translateY(0);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 20px;
    max-height: 190px;

    @media (max-width: $bp4) {
      max-height: none;
      display: grid !important;
      grid-template-rows: repeat(4, auto); /* Количество строк */
      grid-template-columns: repeat(2, 1fr); /* Количество столбцов */
      column-gap: 10px;
      row-gap: 12px;
      grid-auto-flow: row;
    }

    &-about {
      max-height: 60px;
      max-width: 50%;
    }

    & li {
      max-width: 210px;

      & a {
        font-size: 16px !important;
        line-height: 17.6px !important;
        font-weight: 500 !important;
        color: $dark-gray !important;
        transition: all 0.3s !important;
        position: relative !important;

        @media (max-width: $bp1) {
          font-size: 14px !important;
        }
      }
    }
  }
}

.mobile-menu {
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  // padding-top: 78px;
  height: 100vh;
  transition: all 0.6s ease-in-out;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  & .container {
    height: 100%;
  }

  &__left {
    height: 100%;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    padding-top: 78px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 78px);
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-title {
      font-size: 18px;
      font-weight: 400;
      color: $gray;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
  &__link {
    font-weight: 400;
    font-size: 35px;
    line-height: 140%;
    color: $gray;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    @include hover {
      color: $black;
    }

    & span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
      transition: transform 0.8s ease, opacity 0.8s ease;
    }
  }

  &.active .mobile-menu__link span {
    transform: translateY(0);
    opacity: 1;
  }

  &__inner {
    overflow-y: auto;
    border-top: 1px solid #00000014;
    flex: 1;
    padding: 40px;

    &::-webkit-scrollbar-thumb {
      background: linear-gradient(180deg, #679dff 0%, #ff8ae5 100%);
      border-radius: 8px;
      background-clip: padding-box;
    }
    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 8px;
      background-color: $bg;
    }
  }

  &__footer {
    border-top: 1px solid #00000014;
    padding: 40px;
    padding-bottom: 100px;

    & .link {
      display: flex;
      transform: translateY(100%);
      opacity: 0;
      transition: transform 0.8s ease, opacity 0.8s ease, color 0.3s ease-in-out;
      transition-delay: 0.2s;
    }
  }

  &.active .mobile-menu__footer .link {
    transform: translateY(0);
    opacity: 1;
  }
}

.burger {
  padding: 0;
  width: 50px;
  height: 50px;

  &.active {
    background-color: $black;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 600ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 40px !important;
  height: 40px !important;

  &.active {
    & .line {
      stroke: $white;
    }

    .top {
      stroke-dashoffset: -64px;
    }

    .middle {
      transform: rotate(90deg);
    }

    .bottom {
      stroke-dashoffset: -64px;
    }
  }

  & .top {
    stroke-dasharray: 40 160;
  }
  & .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 600ms;
  }
  & .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 600ms, stroke-dashoffset 600ms;
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 600ms, stroke-dashoffset 600ms;
  stroke: $white;
  stroke-width: 5.5;
  stroke-linecap: round;
}
