:root {--vh: 1%}
$bp1: 1400.98px;
$bp2: 1250.98px;
$bp3: 991.98px;
$bp4: 767.98px;
$bp5: 575.98px;
$bp6: 480.98px;
$bp7: 374.98px;

// colors
$primary: #CF0000;
$dark-gray: #393939;
$gray: #9B9B9B;
$bg: #FAFAFA;
$white: #FFFFFF;
$black: #000000;