<!--search-form-->
@@if (results === true) {
<form action="" class="search-form show-results" onsubmit="event.preventDefault();searchFormSuccess(this)">
}
@@if (results === false) {
<form action="" class="search-form" onsubmit="event.preventDefault();searchFormSuccess(this)">
}
    <div class="search-form__inner">
        <svg class="search-form__icon"><use xlink:href="img/icons/sprite.svg#search"></use></svg>
        @@if (results === true) {
        <input type="text" name="" placeholder="Найти" value="Карбо">
        }
        @@if (results === false) {
        <input type="text" name="" placeholder="Найти">
        }
        <button type="reset" class="search-form__reset" aria-label="Очистить поиск">
            <svg><use xlink:href="img/icons/sprite.svg#close"></use></svg>
        </button>
    </div>
    <button type="submit" class="btn main-btn">Найти</button>
    <div class="search-form__result">
        <div class="search-form__result-wrap">
            @@if (results === true) {
                <a href="#">Карбокситерапия</a>
                <a href="#">Похожий вариант</a>
                <a href="#">Похожий вариант2</a>
                }
        </div>
    </div>
</form>